{% extends 'base.html' %}



{% block content %}
<section id="home" class="border"style = "width: 100%; height:600px; padding: 50px 0;">
        <div class="container border border-primary">

            {% block jumbotron %}
            <div class="jumbotron text-center shadow animated slideInLeft">
                <!-- <div class="container"> -->
                    <h1 class="display-4 ">bLOg aPp</h1> 
                    <p class="lead">Welcome to My Blog App Sample</p> 
                <!-- </div> -->
            </div>
            {% endblock %}
            
            <h2 class="display-4 text-center">HOME</h2>
            
        </div>
</section>

{% endblock %}